:root {
  --fuentePrincipal: "Lato", sans-serif;
  --fuenteSecundaria: "Roboto", sans-serif;
  --colorPrimario: #1073ba;
  --colorSecundario: #00da55;
  --blanco: #ffffff;
  --negro: #1f1e1e;
  --grisClaro: #e1e1e1;
  --separacion: 5rem;
}
/* fuentes */
@font-face {
  font-family: "Lato";
  src: url(../public/fonts/Lato/Lato-Regular.ttf);
}

@font-face {
  font-family: "Roboto";
  src: url(../public/fonts/Roboto/Roboto-Regular.ttf);
}

/* globales */

.degragado-verde {
  background: linear-gradient(
    to right,
    var(--colorPrimario) 0%,
    var(--colorSecundario) 65%
  );

  color: transparent !important;
  -webkit-background-clip: text;
  background-clip: text;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--fuentePrincipal);
  font-size: 1.6rem;
  line-height: 1.5;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

h1,
h2,
h3 {
  font-family: var(--fuenteSecundaria);
  margin: calc(var(--separacion / 2) 0);
}

h1 {
  font-size: 4.4rem;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 2.8rem;
}

.contenedor {
  max-width: 120rem;
  width: 90%;

  margin: 0 auto;
}

/* utilidades */
.tc {
  text-align: center;
}

.header {
  text-align: center;
  background-color: var(--negro);
  color: var(--blanco);
  padding: 5rem;
}

@media (min-width: 768px) {
  .header {
    display: flex;
    justify-content: center;
    padding: 3rem;
  }

  .header h1 {
    margin-bottom: 0;
    margin-top: 0;
  }

  .header img {
    width: 300px;
    height: 300px;
  }
}

@media (min-width: 1200px) {
  .header {
    padding: 5rem;
  }
}

.imagen-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenido-header {
  flex-basis: 35%;
}

@media (min-width: 768px) {
  .contenido-header {
    text-align: left;
  }
}

.parrafo-precio {
  padding-top: 1rem;
}

.parrafo-precio span {
  font-size: 2.5rem;
  font-weight: 900;
}
.imagen-header img {
  width: 280px;
  height: 280px;
}

@media (min-width: 768px) {
  .imagen-header img {
    width: 350px;
    height: 350px;
  }
}

@media (min-width: 1200px) {
  .imagen-header img {
    width: 270px;
    height: 270px;
  }
}
