$fuentePrincipal: "Lato", sans-serif;
$fuenteSecundaria: "Roboto", sans-serif;
$colorPrimario: #1073ba;
$colorSecundario: #00da55;
$blanco: #ffffff;
$negro: #1f1e1e;
$grisClaro: #e1e1e1;
$separacion: 5rem;
